.header {
  background-color: #6897ff;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0;
  p {
    margin: 0px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
}
