.post-header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .user-photo {
    margin-left: 5%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }
  }
  .user-data {
    width: 60%;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    h3,
    p {
      margin: 0px;
      font-family: Helvetica;
      color: #666666;
    }

    h3 {
      font-weight: bold;
    }

    p {
      font-size: 12px;
    }
  }
}
