body {
  background-color: #dbdbdb;
  margin: 0;
  padding: 0;
  .content {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
